<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chuck Norris Jokes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chuck Norris Jokes</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h3>Categories</h3>
  <ng-container *ngIf="jokeData; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{jokeData.value}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

  <ion-content class="ion-padding">
    <ng-container *ngFor="let item of jokeCat">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{item}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>
  </ion-content>

  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>

</ion-content>
</ion-content>