ion-header {
  --background: #1e1e1e;
  --color: #fff;

  ion-toolbar {
    --background: #ff6b00;
    --color: white;

    ion-title {
      text-align: center;
      font-weight: bold;
    }
  }
}

ion-content {
  background: #121212;
  color: white;

  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: #ff6b00;
  }

  ion-card {
    background: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;

    ion-card-header {
      text-align: center;

      ion-card-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #ffcc00;
      }
    }
  }

  ion-spinner {
    display: block;
    margin: 20px auto;
    color: #ff6b00;
  }
}