#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.completada {
  background-color: rgb(188, 217, 109);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style:italic;
}
.incompleta {
  background-color: white;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto; /* Esto centra la tabla horizontalmente */
}


th, td {
  padding: 10px;
  text-align: left;
  border: 2px solid black;
}

th {
  background-color: rgb(201, 123, 123);
  font-weight: bold;
}

.answer{
  width: 200px;
  background-color: #f2f2f2;
  border-width: 2px;
  border-style: groove;
  border-color: black;
  margin: 0 auto;
}

h1 {
  color: darkblue;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}